@import url(https://fonts.googleapis.com/css?family=Raleway:700);

body{
  background: #0e0e0e;
}

div#content {
    width: 960px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    color: white;
    padding-top: 1%;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 1px;
}

circle {
    fill: #9c9ede;
}

circle:hover {
    fill: orangered;
}

.axis path,
.axis line {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}

.y.axis text{
  fill: white;
}
.bar:hover {
    fill: orangered;
}

.d3-tip {
    position: absolute;
    text-align: center;
    padding: 2px;
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgb(0, 0, 0);
    color: #fff;
    border-radius: 2px;
}

#input-label{
  color: #bcbcbc;
}

#search-input {
    color: white;
    font-size: 2em;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    
    border-top: 16px solid #3498db;
    /* Blue */
    
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
}

.suggestion{
  cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#toggle-chart{
    display: none;
}

#toggle-chart:hover{
    cursor: pointer;
}